@import 'variables';
@import 'base';

@import 'partials/article';

.hero {
	padding-bottom: 0;
	&.pad-top {
		padding-top: 60px;
	}
	img {
		width: 100%;
	}
	.caption {
		position: absolute;
		bottom: -28px;
		left: 0;
		right: 0;
		text-align: center;
		color: $light-gray;
		font-size: 14px;
    p {
      max-width: none;
    }
	}
}

.detail {
	max-width: 740px;
	h1 {
		font-family: 'Merriweather', serif;
		font-size: 40px;
		line-height: 48px;
		font-weight: 500;
	}
	.summary {
		font-size: 22px;
		line-height: 30px;
		color: $light-gray;
		margin-top: 10px;
	}
	.byline {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	h2 {
		font-size: 34px;
		line-height: 38px;
		font-weight: 500;
		margin-top: 60px;
	}
	h3 {
		font-size: 26px;
		line-height: 31px;
		font-weight: 500;
		margin-top: 40px;
	}
	p {
		font-family: 'Merriweather', serif;
		font-size: 18px;
		line-height: 34px;
		margin-top: 20px;
		margin-bottom: 20px;
		a {
			background-image: linear-gradient(to right, $dark-gray 50%, $dark-gray 50%);
			background-position: 0 1.1em;
			background-repeat: repeat-x;
			background-size: 2px 1px;
			text-shadow:
				-1px 0 0 $body-background,
				1px 0 0 $body-background,
				-2px 0 0 $body-background,
				2px 0 0 $body-background;
		}
	}
	code {
		font-size: 18px;
		line-height: 34px;
		padding: 2px 4px;
		font-family: 'Roboto Mono', monospace;
		background-color: $lightest-gray;
		border-radius: $border-radius;
	}
	pre {
		font-size: 18px;
		line-height: 24px;
		padding: 20px;
		font-family: 'Roboto Mono', monospace;
		background-color: $lightest-gray;
		border-radius: $border-radius;
		overflow: auto;
	}
	blockquote {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 34px;
		border-left: 2px solid $light-gray;
		padding-left: 20px;
		margin-left: -20px;
		font-style: italic;
	}
	video,
	iframe,
	img {
		max-width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: $border-radius;
	}
	hr {
		border: 0;
		// border-top: 1px solid $lighter-gray;
		margin-top: 52px;
		margin-bottom: 56px;
		text-align: center;
		&:after {
			content: "...";
			font-size: 28px;
			letter-spacing: 16px;
			line-height: 0;
		}
	}
	.badges {
		margin-top: 60px;
	}
	@media (max-width: $breakpoint-small) {
	  h1 {
	  	font-size: 32px;
	  	line-height: 40px;
	  }
	  .summary {
	  	font-size: 20px;
	  	line-height: 28px;
	  }
	  h2 {
	  	font-size: 28px;
	  	line-height: 32px;
	  }
	  h3 {
	  	font-size: 22px;
	  	line-height: 28px;
	  }
	  p {
	  	font-size: 16px;
	  	line-height: 32px;
	  }
	  code {
	  	font-size: 16px;
	  	line-height: 32px;
	  }
	  pre {
	  	font-size: 16px;
	  	line-height: 22px;
	  }
	  blockquote {
	  	padding-left: 12px;
	  	margin-left: -12px;
	  }
	}
}

//////////////////////////////////////////////////////////////////////////////

nav {
	position: fixed;
	transition: $slow $transition all;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	margin-top: 0;
	background-color: $darkest-gray;
	&.short,
	&.scrolling {
		box-shadow: $box-shadow;
		.container {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&.hide {
		margin-top: -80px;
	}
	.container {
		padding-top: 30px;
	}
	a {
		margin-right: 40px;
		vertical-align: middle;
		display: inline-block;
		color: $light-gray;
		&:hover,
		&.active {
			color: $white;
			.arrow path {
				fill: $white;
			}
		}
		.arrow {
			vertical-align: middle;
			margin-right: 8px;
			path {
				transition: $fast $transition all;
			}
		}
	}
	.cta {
		position: relative;
		float: right;
		padding: 10px;
		max-width: 120px;
	}
}

header {
	padding-top: 80px;
	position: relative;
	background-color: $darkest-gray;
	padding-bottom: 60px;
	h1 {
		max-width: 520px;
		color: $white;
		margin-top: 36px;
	}
	p {
		max-width: 520px;
		color: $light-gray;
		line-height: 26px;
	}
}

.subheader {
	transition: $slow $transition all;
	position: sticky;
	top: 60px;
	background-color: $white;
	width: 100%;
	text-align: right;
	font-size: 0.875rem;
	// box-shadow: $box-shadow;
	border-bottom: 2px solid $lightest-gray;
	z-index: 2;
	&.hide {
		top: -120px;
	}
	.container {
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	input {
		position: absolute;
		left: 40px;
		top: 0;
		bottom: 0;
		width: 240px;
		font-size: 18px;
		font-weight: 400;
		line-height: 60px;
		border: none;
		outline: none;
	}
	a {
		transition: $medium $transition color;
		margin-left: 10px;
		text-decoration: none;
		&.more {
			color: $light-gray;
			&:hover {
				color: $darkest-gray;
			}
		}
	}
	@media (max-width: $breakpoint-medium) {
		display: none;
	}
}

footer {
	position: relative;
	background-color: $lightest-gray;
	padding: 80px 0 80px;
	text-align: center;

	.cta {
		width: 100%;
		padding: 40px;
		margin-bottom: 60px;
		background-color: $body-background;
		border-radius: $border-radius;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		div {
			max-width: 500px;
			h2 {
				color: $darkest-gray;
				font-size: 32px;
				line-height: 48px;
				font-weight: 300;
				margin-top: 0;
				margin-bottom: 5px;
			}
			p {
				color: $gray;
				line-height: 26px;
			}
		}
		@media (max-width: $breakpoint-medium) {
			flex-wrap: wrap;
			justify-content: center;
			div {
				text-align: center;
				width: 100%;
				max-width: 100%;
				margin-bottom: 32px;
			}
		}
	}

	.logo svg {
		margin-bottom: 40px;
	}

	.social {
		margin-bottom: 20px;
		text-align: center;
		a {
			svg {
				width: 40px;
				margin-right: 20px;
				vertical-align: middle;
				path,
				polygon {
					fill: $light-gray !important;
					transition: $fast $transition all;
				}
			}
			&:hover svg path,
			&:hover svg polygon {
				fill: $darker-gray !important;
			}
		}
	}

	.legal {
		color: $light-gray;
		a:hover {
			color: $darker-gray;
		}
	}

}

//////////////////////////////////////////////////////////////////////////////

.comments {
  margin-bottom: 120px;
  max-width: 740px;
}

.badge {
	position: relative;
	padding: 4px 6px 3px;
	font-size: 11px;
	line-height: 19px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.25px;
	color: $dark-gray;
	background-color: $lightest-gray;
	border-radius: $border-radius;
	&.accent {
		color: $white;
		background-color: $accent;
	}
}

.button {
	transition: $medium $transition all;
	display: inline-block;
	width: 100%;
	max-width: 200px;
	background-color: $white;
	color: $darker-gray;
	border-color: $white;
	border-style: solid;
	border-width: 2px;
	border-radius: $border-radius;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	padding: 16px;
	outline: none;
	text-decoration: none;
	appearance: none;
	cursor: pointer;
	&:hover {
		color: $dark-gray;
	}
	&.border {
		border-color: $lightest-gray;
		&:hover {
			color: $darker-gray;
			border-color: $lighter-gray;
		}
	}
	&.gray {
		background-color: $dark-gray;
		color: $white;
		border-color: $dark-gray;
		&:hover {
			background-color: $darker-gray;
			border-color: $darker-gray;
		}
	}
	&.disabled {
		cursor: default;
		color: $light-gray;
		&:hover {
			color: $light-gray;
			&.border {
				border-color: $lightest-gray;
			}
		}
	}
	svg {
		margin-right: 8px;
		vertical-align: middle;
		margin-top: -2px;
	}
}

.byline {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	font-size: 15px;
	height: 40px;
	&.large {
		height: 160px;
		margin-top: 40px;
		border-top: 1px solid $lighter-gray;
		padding-top: 40px;
		margin-bottom: 60px;
		.avatar {
			margin-right: 20px;
			width: 120px;
			height: 120px;
			min-width: 120px;
			flex-basis: 120px;
		}
		.subdue {
			line-height: 24px;
		}
	}
	.avatar {
		border-radius: 100%;
		overflow: hidden;
		margin-right: 12px;
		width: 40px;
		height: 40px;
		min-width: 40px;
		flex-basis: 40px;
	}
	b {
		font-weight: 500;
	}
	h4 {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
    .social {
      display: inline-block;
      svg {
        height: 20px;
        max-width: 20px;
        margin-bottom: -2px;
        margin-left: 8px;
      }
    }
	}
	.subdue {
		color: $gray;
	}
}
